.p{
    margin-top: 0;
    margin-bottom: 1rem;
}

a:hover{
    text-decoration: none;
}
.headerTopRow{
    background-color: #212529;
    position: center;
    font-family: sans-serif;
}

.headerTopRow {
    display: block;
    margin: 0;
    padding: 0;
}
.descriptionAndContacts{
    display: none;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    height: 152px;
}

.aboutUs{
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 12px;
    padding-right: 24px;
    max-width: 752px;
    min-width: auto;
    max-height: 152px;
}

.text-white{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.text-muted{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.list-contacts{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
    font-size: 1rem!important;
}

.text-contacts{
    color: #FFFFFF;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.contacts{
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 12px;
    padding-right: 12px;
    height: 104px;
    max-width: 322px;
    min-width: auto;
    max-height: 152px;
}

.logoTop{
    background-color: #212529;
    position: center;
    justify-content: center;
    height: 62px;
}

.logoContainer{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 46px;
    margin-left: 296px;
    margin-right: 296px;
}

.menu{
    cursor:pointer;
    display:inline-block;
    padding: .25rem .75rem;
    background-color: #212529;
    border: 1px solid transparent;
    border-radius: .25rem;
    align-items: center;
}

.menu::after {
    display: flex;
    justify-content: center;
    content: '';
    height: 4px;
    width: 25px;
    border-top: 3px solid #6c757d;
    border-bottom: 3px solid #6c757d;
}

.menu::before {
    display: flex;
    justify-content: center;
    content: '';
    height: 4px;
    width: 25px;
    border-top: 3px solid #6c757d;
}

.menuButton{
    cursor:pointer;
    display:inline-block;
    padding: .25rem .75rem;
    background-color: #212529;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #6c757d;
    align-items: center;
}

.logo{
    height: 62px;
    width: 62px;
    background-image: url("img/logo.png");
    background-color: #212529;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #212529;
    border-radius: 40px 40px 40px 40px;

}

.logoWithContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.centerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    text-align: center!important;
    font-family: sans-serif;
    margin-right: 285px;
    margin-left: 285px;
    padding-inline: 12px;
    padding-top: 48px;
    padding-bottom: 0px;
}

.question{
    font-size: calc(1.375rem + 1.5vw);
    font-family: sans-serif;
    font-weight: 300!important;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.titleText{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1.5vw);
    font-family: sans-serif;
    font-weight: 300!important;
    margin-top: 15px;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.text{
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #6c757d!important;
}

.btnPrimary{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnPrimary:hover{
    box-sizing: border-box;
    background-color: #0647d4;
}

.btnSecondary{
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.btnBackOnTop{
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 16px;
    margin-right: 16px;
}

.btnBackOnTop:hover{
    box-sizing: border-box;
    background-color: #40444c;
}

.text-mute{
    border-top: 3px solid #212529;
    display: flex;
    flex-flow: nowrap;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    max-height: 82px;
    font-family: sans-serif;
    color: #6c757d!important;
}

.containerFooter{
    flex-flow: column;
    padding-top: 5px;
}

.containerReg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    text-align: center!important;
    margin-right: 285px;
    margin-left: 285px;
    padding-inline: 12px;
    padding-top: 48px;
    padding-bottom: 48px;

}

.content{
    height: 624px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    margin-bottom: 124px;
}

.card1{
    padding-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
    max-width: 524px;
    max-height: 564px;
    border: 3px solid #d0d4d6;
}

.card2{
    padding-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
    max-width: 524px;
    max-height: 564px;
    border: 3px solid #d0d4d6;
}

.imgRight{
    margin: 5px;
    height: 503px;
    width: 503px;
    background-image: url("img/vostok.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-inline: 15px;
}

.imgLeft{
    margin: 5px;
    height: 503px;
    width: 503px;
    background-image: url("img/zodiac.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-inline: 15px;
}

.cardText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    color: #212529;
    margin-top: 8px;
    margin-bottom: 24px;
}

.containerText{
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 124px;
    margin-left: 296px;
    margin-right: 296px;
    width: auto;
}

.formSignin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 124px;
    margin-left: 296px;
    margin-right: 296px;
    width: auto;
}

.logoBody{
    display: flex;
    justify-content: center;
}

.personBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
}
.countrys{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    border-top: 2px solid #a4a3a3;
    border-bottom: 2px solid #a4a3a3;
    font-family: sans-serif;
}
.countryWindow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.save{
    color: #fff;
    background-color: #0eb3ab;
    border-color: #3996dd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.blogContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: 456px;
}

.blog{
    color: #FFFFFF!important;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 26px;
}

.alert{
    margin-top: 2px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center!important;
    margin-left: 285px;
    margin-right: 285px;

}

.formAddPost{
    width: 100%;
    height: auto;
    min-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #212529;
}
.formAddText{
    width: 100%;
    min-height: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #212529;
}






