<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://localhost:8080/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="containerPosts">
    <div th:each="el : ${post}" class="alert">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.full_text}"></p>
        <p><b>Просмотры: </b><span th:text="${el.views}"/></p>
        <a th:href="'/blog/'+${el.id} + '/edit'" class="btnPrimary">Редактировать</a>
        <form th:action="'/blog/' +  ${el.id} + '/remove'" method="post">
            <button type="submit" class="btnSecondary">Удалить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>