<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://localhost:8080/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 class="titleText">Добавление статьи</h1>

<div class="container">
    <form action="/blogAdd" method="post" class="formAddPost">
        <input type="text" name="title" placeholder="Введите название статьи" class="formAddPost">
        <input type="text" name="anons" placeholder="Введите анонс статьи" class="formAddPost">
        <textarea name="full_text" placeholder="Введите текст статьи" class="formAddText"></textarea>
        <button type="submit" class="save">Добавить статью</button>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>