<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type="com"*/-->
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<section class="containerText">
    <span class="eastGoroskop">
        <h1>Восточный гороскоп</h1>
        <div class="imgRight"></div>
        <p class="text">В китайском зодиаке 12 знаков: Крыса, Бык, Тигр, Кролик, Дракон, Змея, Лошадь, Коза (Овца), Обезьяна, Петух, Собака и Свинья. Каждый знак представлен определённым животным со своими характерными особенностями.
            Почему были выбраны именно эти животные и в таком порядке? Влияет ли на характер человека то, в год какого животного он родился?

            Ответы на эти вопросы можно найти в китайском фольклоре. Из множества легенд о китайском зодиаке, мы выбрали самую известную в Китае.
            Ей будет интересно поделиться с друзьями, а также рассказать детям.

            Небесная Гонка - Кто быстрее!

            Когда-то давным давно не существовало китайского зодиака. И Нефритовый Император - повелитель небес - решил выбрать 12 животных, чтобы они охраняли его покой.
            Бессмертный посланник Императора отправился в земной мир, чтобы передать высочайшее повеление: все животные должны явиться ко Дворцу Императора. И первые 12 из них, вошедшие в Небесные Врата, заслужат особую милость и почёт.

            Ранние Пташки: Сообразительная Крыса и
            Терпеливый Бык

            На следующий день все животные отправились к Небесным Воротам. Крыса поднялась очень рано и пустилась в путь. Дойдя до реки, она увидела стремительное течение и решила подождать.
            Прождав довольно долго, она наконец увидела приближающегося к воде Быка. Находчивая Крыса подошла ближе и прыгнула ему в ухо.
            Терпеливый Бык не был против и продолжил свой путь. Перейдя реку, он помчался к Небесному Дворцу. Внезапно Крыса выпрыгнула из его уха и бросилась к ногам Императора. Так она пришла первой, а Бык вторым.
            Решительный и Быстрый: Тигр и Кролик
            Третьим и четвёртым пришли Тигр и Кролик. Они оба ловкие и решительные, но тигр был быстрее (Кролик преодолел водную преграду, прыгая по камням и бревнам на реке).
            Год Дракона Зодиак
            Благородный Дракон и Целеустремлённая Змея
            Дракон прилетел пятым и сообщил Императору, что ему пришлось задержаться и создать дождь над охваченным пожаром городом.
            Повелитель Небес сразу отметил привлекательность и благородство Дракона и сделал пятым, а его сыну разрешил быть шестым. Но сын Дракона не пришёл в тот день с отцом.
            Тогда вперёд выползла Змея и, заявив, что Дракон - её приёмный отец, заняла шестое место.
            Доброжелательные и Скромные Лошадь и Коза
            Лошадь и Коза подошли одновременно. Будучи доброжелательными и скромными, они стали пропускать друг друга. Нефритовый Император увидел, какие это вежливые животные, и пожаловал им седьмое и восьмое места.
            Изобретательная и подвижная Обезьяна
            Обезьяна начала уже было отставать. Но, прыгая по деревьям и камням, быстро добралась до дворца и заслужила девятое место. Последними пришли Петух, Собака и Свинья.
            Собака, конечно, должна была прийти раньше - ведь она лучше других животных умеет плавать. Но после долгой пробежки она решила поплескаться в реке и не заметила, как прошло время.
            Так эти 12 животных стали стражами Небесных Ворот.

        </p>
    </span>
</section>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>