<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <div class="headerTopRow" >
            <div class="descriptionAndContacts" id="123">
                <div class="aboutUs">
                    <h4 class="text-white">О нас</h4>
                    <p class="text-muted">Мы работаем с лучшими астрологами России и СНГ. Узнаете Ваш астрологический прогноз прямо сейчас.
                        получите бесплатную консультаию астролога онлайн!
                    </p>
                </div>
                <div class="contacts">
                    <h4 class="text-white">Контакты</h4>
                    <ul class="list-contacts" >
                        <li><a href="#" class="text-contacts">Follow on Twitter</a></li>
                        <li><a href="#" class="text-contacts">Like on Facebook</a></li>
                        <li><a href="#" class="text-contacts">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="logoTop">
            <div class="logoContainer">
                <span class="logoWithContainer">
                    <a href="#" class="logo" ></a>
                    <h4 class="text-white">Гороскоп</h4>
                </span>
                <button class="menuButton" ><span class="menu"></span></button>
            </div>
        </div>
    </header>
    <main>
        <section class="centerContainer">
            <div class="essential">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="question">Кто ты по восточному гороскопу ?</h1>
                    <p class="text">Заполните простую форму для того чтобы узнать свой знак зодиака. Наши специалисты работают над созданием астрологических карт и помогают с толкованием снов.</p>
                    <p>
                        <a href="/registrationPage" class="btnPrimary">Записаться на платную консультацию</a>
                        <a href="/viewGoroskopPage" class="btnSecondary">Попробовать бесплатную версию</a>
                    </p>
                </div>
            </div>
        </section>
    </main>


</body>
</html>