<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--/*@thymesVar id="title" type="com"*/-->
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
        <section class="centerContainer">
            <div class="nameWindow" >
                <form action="/addPerson">
                    <div class="firstNameWindow" >
                        <label for="firstName" class="form-label" ></label>
                        <input type="text" name="firstNameParam" class="form-control" id="firstName" placeholder="Имя" value="" required="" >
                    </div>
                    <div class="lastNameWindow" >
                        <label for="lastName" class="form-label" ></label>
                        <input type="text"  name="lastNameParam" class="form-control" id="lastName" placeholder="Фамилия" value="" required="" >
                    </div>
                    <div class="usernameWindow" >
                        <label for="username" class="form-label" >Придумайте имя пользователя</label>
                        <div class="input-group has-validation" >
                            <span class="input-group-text" >@</span>
                            <input type="text" name="loginParam" class="form-control" id="username" placeholder="Логин" required="" >
                        </div>
                    </div>
                    <div class="emailWindow" >
                        <label for="email" class="form-label" >Ваш Email <span class="text-muted" ></span></label>
                        <input type="email" name="emailParam" class="form-control" id="email" placeholder="name@example.com" >
                    </div>
                    <div class="addresWindow" >
                        <label for="address" class="form-label" >Домашний адрес</label>
                        <input type="text" name="addressParam" class="form-control" id="address" placeholder="ул. Пушкина 302 кв. 2" required="" >
                        <div class="countryWindow" >
                            <label for="country" class="form-label" >Страна</label>
                            <select class="form-select" id="country" required="" >
                                <option value="">Выбирите страну...</option>
                                <option>Российская Федерация</option>
                                <option>United kingdom</option>
                                <option>United States</option>
                                <option>China</option>
                            </select>
                            <button class="btnSecondary"  id="example_3_1" onclick="document.getElementById('111').style.display='flex'; document.getElementById('example_3_1').style.display='none'; document.getElementById('example_3_2').style.display='flex';" style="display:none;">Добавить страну</button>
                            <button class="btnSecondary" id="example_3_2" onclick=" document.getElementById('111').style.display='none'; document.getElementById('example_3_2').style.display='none'; document.getElementById('example_3_1').style.display='block';" style="display: flex;">Добавить страну</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <div class="countrys" id ="111">
            <p class="text">Введите название вашей страны</p>
            <div style="display: inline-block">
                <form action="/addCountry" method="post" >
                <input type="text" name="nameCountry" placeholder="Название страны"label></input>
                <button class="save" type="submit" >Сохранить</button>
                </form>
            </div>

        </div>
        <div class="personBtn">
            <a href="/addPerson" ><button class="btnPrimary" >Сохранить данные</button></a>
        </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>