<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type="com"*/-->
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <div class="nameWindow" >
    <div class="col-sm-6" >
        <label for="firstName" class="form-label" >Имя</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" >
        <div class="invalid-feedback" >
            Поле имя обязательно для заполнения.
        </div>
    </div>

    <div class="lastNameWindow" >
        <label for="lastName" class="form-label" >Фамилия</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" >
        <div class="invalid-feedback" >
            Поле фамилия обязательно для заполнения.
        </div>
    </div>

    <div class="usernameWindow" >
        <label for="username" class="form-label" >Придумайте имя пользователя</label>
        <div class="input-group has-validation" >
            <span class="input-group-text" >@</span>
            <input type="text" class="form-control" id="username" placeholder="Username" required="" >
            <div class="invalid-feedback" >
                Придумайте имя пользователя.
            </div>
        </div>
    </div>

    <div class="emailWindow" >
        <label for="email" class="form-label" >Ваш Email <span class="text-muted" >(Optional)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com" >
        <div class="invalid-feedback" >
            Пожалуйста введите корректный email для регистрации.
        </div>
    </div>

    <div class="addresWindow" >
        <label for="address" class="form-label" >Домашний адрес</label>
        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" >
        <div class="invalid-feedback" >
            Пожалуйста введите адрес.
        </div>

    <div class="countryWindow" >
        <label for="country" class="form-label" >Страна</label>
        <select class="form-select" id="country" required="" >
            <option value="">Выбирите страну...</option>
            <option>Российская Федерация</option>
            <option>United kingdom</option>
            <option>United States</option>
            <option>China</option>
        </select>
        <button type="button" ><a href="/addCountry">Добавить страну</a></button>
        <div class="invalid-feedback" >
            Пожалуйста выбирите действительную страну.
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
    </div>

</body>
</html>